
.statistics {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 100px;
    background-color: rgb(230, 230, 230);
}

.title {
    padding: 20px 40px;
    text-align: center;
    background-color: white;
    font-size: 24px;
    text-transform: uppercase;
    color:rgb(75, 75, 75);
    
}

.stat_list {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,auto));
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    /* outline: 1px solid black; */
}


.label {
    font-size: 16px;
    margin-bottom: 10px;
    color:rgb(233, 233, 233);
}

.percentage {
    color:rgb(233, 233, 233);
    font-size: 18px;
    font-weight: 500;
}